<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="X-CSRF-Token" content="<%= csrf %>">
  <meta name="persona-email" content="<%= email %>">
  <title>Webmaker</title>
  <link rel="stylesheet" href="/css/account.css">
  <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
  <div id="webmaker-nav">
  <!-- the webmaker bar -->
  <nav class="webmaker-nav-container">
    <a id="logo" href="https://webmaker.org"><img src="/img/webmaker-logo.png" alt="Mozilla Webmaker" /></a>
    <ul class="webmaker-nav user-info">
      <li class="user">
        Hi <span id="identity" class="user-name-container"></span>
      </li>
      <li>
        <iframe id="persona-iframe" src="<%= audience%>/sso/include.html" class="include-frame"></iframe>
      </li>
    </ul>
  </nav>
  <div class="my-projects-container">
  </div>
</div>
<div class="wm-user-panel">
  <div class="ui-wrapper ui-body">
      <div class="ui-poster">
        <div class="ui-row">
          <div class="g-3">
            <div id="user-avatar" class="ui-circle-frame"></div>
          </div>
          <div class="g-5">
            <h1>Hi <span class="wm-username"></span>!</h1>
            <ul class="user-info-list">
              <li><span class="field-label">Username</span><span class="wm-username"></span></li>
              <li><span class="field-label">Email</span><span class="wm-email"></span></li>
            </ul>
            <p><a id="delete-account">Delete account?</a></p>
          </div>
        </div>
      </div>
    </div>
    <div id="confirm-delete" class="ui-wrapper ui-body">
      <h2>Are you sure you want to leave?</h2>
      <p>Enter your email to confirm:</p>
      <p><input id="email-check"></p>
      <p><a id="delete-me" class="ui-btn">Delete me forever</a></p>
    </div>
  </div>
  <div class="ui-wrapper ui-body" id="logout-message"></div>
   </div>
  </div>
  <script src="/js/ext/require.js"></script>
  <script>
    requirejs.config({
      baseUrl: '/js',
      paths: {
        'jquery': '/js/ext/jquery-1.9.1.min',
        'persona-sso': '<%= audience %>/sso/include'
      },
      shim: {
        'persona-sso': [],
        'sso-ux': ['jquery', 'persona-sso']
      }
    });
    require(["site/account"]);
  </script>

  <% if (ga_account) { %>
  <script type="text/javascript">
    var _gaq = _gaq || [],
        domain = "<%= ga_domain %>";

    _gaq.push(['_setAccount', '<%= ga_account %>']);
    if (domain) {
      _gaq.push(['_setDomainName', domain]);
    }
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <% } %>

</body>
</html>
