<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="X-CSRF-Token" content="<%= csrf %>">
  <meta name="persona-email" content="<%= email %>">
  <meta name="hostname" content="<%= hostname %>">
  <meta name="audience" content="<%= audience %>">
  <title>Webmaker</title>
  <link rel="stylesheet" href="/css/persona.css">
  <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
  <div id="webmaker-nav">
  <!-- the webmaker bar -->
  <nav class="webmaker-nav-container">
    <a id="logo" href="https://webmaker.org"><img src="/img/webmaker-logo.png" alt="Mozilla Webmaker" /></a>
    <ul class="webmaker-nav user-info">
      <li class="user">
        Hi <span id="identity" class="user-name-container"></span>
      </li>
    </ul>
  </nav>
  <div class="my-projects-container">
  </div>
</div>

<div class="wm-user-panel">
  <div class="ui-wrapper ui-body">
      <div id="poster" class="ui-section">
          <div class="ui-row">
            <div class="g-4"><h1>Webmaker uses Persona,<br>a secure way to sign in.</h1></div>
            <div class="g-2"><div id="persona-container">
              <a href="#" class="persona-button"><span class="text">Sign in</span><span class="tip"></span><iframe id="persona-iframe" src="<%= audience%>/sso/sso.html"></iframe></a>
            </div></div>
          </div>
      </div>
      <div class="ui-section">
        <div class="ui-row">
          <div class="subtitle">Mozilla Webmaker creates software, projects and events that
            promote digital literacy through making and sharing. We're an open source project
            powered by makers, mentors and community leaders. We'd love you to get involved.</div>
        </div>
      </div>
    </div>
  </div>
  <script src="<%= audience%>/sso/include.js"></script>
  <script src="/js/ext/require.js"></script>
  <script>
    requirejs.config({
      baseUrl: "/js",
      paths: {
        'jquery': '/js/ext/jquery-1.9.1.min',
        'sso-ux': '/js/sso-ux-require',
      }
    });
    require(['site/index');
  </script>
  <% if (ga_account) { %>
  <script type="text/javascript">
    var _gaq = _gaq || [],
        domain = "<%= ga_domain %>";

    _gaq.push(['_setAccount', '<%= ga_account %>']);
    if (domain) {
      _gaq.push(['_setDomainName', domain]);
    }
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <% } %>

</body>
</html>
