<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <link rel="stylesheet" href="<%= audience %>/css/nav.css" />
  <style>
    body {
      margin: 0;
    }
    h1 {
      padding: 0 15px;
    }
  </style>
</head>
<body>
  <div id="webmaker-nav">
    <nav class="webmaker-nav-container">
      <ul class="webmaker-nav primary">
        <li><a>Webmaker</a></li>
        <% for( var i=0; i<allowed_domains.length; i++ ) {%>
          <li><a href="<%= allowed_domains[i] %>">App <%= i + 1 %></a></li>
        <% } %>
      </ul>
      <ul class="webmaker-nav user-info">
        <li class="user">
          <div class="user-name">
            <span id="identity" class="user-name-container"></span>
          </div>
        </li>
        <li><iframe id="SSO" src="<%= audience %>"></iframe></li>
      </ul>
    </nav>
  </div>
  <h1></h1>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="<%= audience %>/js/sso.js"></script>
  <script type="text/javascript">
    $( function(){
      // App 1 / App 2 differences
      var appNumber = ( document.location.port - 3000 ),
          personaSSO = navigator.personaSSO;
      document.title = "App " + appNumber;
      $( "h1" ).html( document.title );
    });
  </script>
</body>
</html>
